<?xml version="1.0" encoding="utf-8"?>
<launch>
    <node pkg="yolov8_ros" type="detect_ros.py" name="yolov8_ros" output="screen">
        <!-- typing "cpu" when using CPU -->
        <param name = "device"              value = "cuda" />
        <param name = "model"               value = "/home/fbh/2023_goal/weights/v8/yolov8s.pt" />
        <param name = "class_yaml"          value = "$(find yolov8_ros)/ultralytics/ultralytics/cfg/datasets/coco128.yaml" />
        <param name = "view_image"          value = "false" />
        <param name = "hide_label"          value = "false" />
        <param name = "sub"                 value = "/usb_cam/image_raw" />   
        <param name = "pub1"                 value = "/yolo/bbx" />
        <param name = "pub2"                 value = "/yolo/img" />
        <!-- if need typing "class name", else inputs nothing. -->
        <param name = "single_class"        value = "person" /> 

    </node>
</launch>
